@charset "utf-8";
/* _____             _____ _______    _____            _             _   _____       _             __               
  / ____|    /\     |  __ \__   __|  / ____|          | |           | | |_   _|     | |           / _|              
 | (___     /  \    | |__) | | |    | |     ___  _ __ | |_ _ __ ___ | |   | |  _ __ | |_ ___ _ __| |_ __ _  ___ ___ 
  \___ \   / /\ \   |  _  /  | |    | |    / _ \| '_ \| __| '__/ _ \| |   | | | '_ \| __/ _ \ '__|  _/ _` |/ __/ _ \
  ____) | / ____ \ _| | \ \ _| |    | |___| (_) | | | | |_| | | (_) | |  _| |_| | | | ||  __/ |  | || (_| | (_|  __/
 |_____(_)_/    \_(_)_|  \_(_)_|     \_____\___/|_| |_|\__|_|  \___/|_| |_____|_| |_|\__\___|_|  |_| \__,_|\___\____

 
       _            _     __          ___ _ _ _                     
      | |          | |    \ \        / (_) | (_)                    
      | | __ _  ___| | __  \ \  /\  / / _| | |_  __ _ _ __ ___  ___ 
  _   | |/ _` |/ __| |/ /   \ \/  \/ / | | | | |/ _` | '_ ` _ \/ __|
 | |__| | (_| | (__|   <     \  /\  /  | | | | | (_| | | | | | \__ \
  \____/ \__,_|\___|_|\_\     \/  \/   |_|_|_|_|\__,_|_| |_| |_|__*/

/* Style Document */  
  
/*_   _             _             _   _             
 | \ | |           (_)           | | (_)            
 |  \| | __ ___   ___  __ _  __ _| |_ _  ___  _ __  
 | . ` |/ _` \ \ / / |/ _` |/ _` | __| |/ _ \| '_ \ 
 | |\  | (_| |\ V /| | (_| | (_| | |_| | (_) | | | |
 |_| \_|\__,_| \_/ |_|\__, |\__,_|\__|_|\___/|_| |_|
                       __/ |                        
                      |___*/
.topnav {
	text-align:center;
    background-color: #000000;
	padding-top: 4px;
    padding-bottom: 4px;
	height: 90px
}
.topnav a {
  color: #d8d8d8;
  font-size: 18px;
  font-weight: bold;
  padding: 30px 20px;
}
.topnav ul {
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 8px;
	display:inline-table;
}
.topnav li {
  display: inline;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #FF5A00;
}

.nav-pills a {
	color: #FF5A00;
}

/*     _                 _           _                   
      | |               | |         | |                  
      | |_   _ _ __ ___ | |__   ___ | |_ _ __ ___  _ __  
  _   | | | | | '_ ` _ \| '_ \ / _ \| __| '__/ _ \| '_ \ 
 | |__| | |_| | | | | | | |_) | (_) | |_| | | (_) | | | |
  \____/ \__,_|_| |_| |_|_.__/ \___/ \__|_|  \___/|_| |*/
.jumbotron {
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
	background-color: #333333;
}
.jumbotron h1 {
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-font-smoothing: antialiased;
}
.jumbotron p {
    margin-top: 0;
     text-shadow:  0 -1px 1px rgba(0, 0, 0, 0.6);
}
.jumbotron a {
    font-size: 20px;
    color: #00b0ff;
}

/* _____            _             _   
  / ____|          | |           | |  
 | |     ___  _ __ | |_ ___ _ __ | |_ 
 | |    / _ \| '_ \| __/ _ \ '_ \| __|
 | |___| (_) | | | | ||  __/ | | | |_ 
  \_____\___/|_| |_|\__\___|_| |_|\_*/
.page-content {
  background-color: #f7f7f7;
  font-size: 16px;
  padding-top: 25px;
  padding-bottom: 50px;
}
.page-content h3 {
  font-family: 'Shift', sans-serif;
  font-size: 28px;
  font-weight: bold;
}
.page-content a {
  color: #00b0ff;
}
.page-content code {
	font-weight: bold;
	font-size: 18px;
}

/*_    _                                                ____        _   _                 
 | |  | |                                              / __ \      | | (_)                
 | |__| | ___  _ __ ___   ___ _ __   __ _  __ _  ___  | |  | |_ __ | |_ _  ___  _ __  ___ 
 |  __  |/ _ \| '_ ` _ \ / _ \ '_ \ / _` |/ _` |/ _ \ | |  | | '_ \| __| |/ _ \| '_ \/ __|
 | |  | | (_) | | | | | |  __/ |_) | (_| | (_| |  __/ | |__| | |_) | |_| | (_) | | | \__ \
 |_|  |_|\___/|_| |_| |_|\___| .__/ \__,_|\__, |\___|  \____/| .__/ \__|_|\___/|_| |_|___/
                             | |           __/ |             | |                          
                             |_|          |___/              |*/
.home-options {
    background-color: #333333;
    border-bottom: 1px solid #dbdbdb;
}
.home-options h2 {
    color: #393c3d;
    font-size: 24px;
	margin-top: 37px;
}
.home-options p {
    font-size: 22px;
    margin-bottom: 13px;
}
.home-options .thumbnail {
    margin: none;
    padding: none;
    border: none;
    background-color: transparent;
    position: relative;
	max-width: 360px;
    margin-left: auto;
    margin-right: auto;
	color: #d8d8d8;
}
.home-options .thumbnail button{
    display: table;
	margin: none, auto;
    padding: none;
    border: none;
    background-color: transparent;
    position: relative;
	max-width: 360px;
    margin-left: auto;
    margin-right: auto;
	color: #d8d8d8;
	font-size: 22px;
    margin-bottom: none;
}

/*__  __           _       _ 
 |  \/  |         | |     | |
 | \  / | ___   __| | __ _| |
 | |\/| |/ _ \ / _` |/ _` | |
 | |  | | (_) | (_| | (_| | |
 |_|  |_|\___/ \__,_|\__,_|*/
 
.modal-header {
      background-color: #FF5A00;
}
.modal-header img {
  float: left;
  width: 48px;
  background: transparent;
}

.modal-header h4 {
	color:white !important;
      text-align: center;
      font-size: 30px;
}

.modal{
 bottom: initial!important;
}

.modal-footer {
      background-color: #f7f7f7;
  }
  
.modal-dialog {
      margin: 0px !important;
  }
  
.modal {
	margin-left: 25%;
	margin-top: 2%;
}

/*__  __ _            
 |  \/  (_)           
 | \  / |_ ___  ___   
 | |\/| | / __|/ __|  
 | |  | | \__ \ (__ _ 
 |_|  |_|_|___/\___(_)
 */
.btn:focus,.btn:active {/*Remove the outline and background from the buttons*/
   outline: none !important;
   background: none !important;
}
.btn {
	border-radius: 0px;
}

.batcharge h4 {/*Centre the headings in the charge remaining area*/
  text-align: center;
}

.cpuusage h4 {/*Shift the heading in the cpu usage area to line up with the circles*/
	margin-left: 15%;
}

.float-right {/*Float the "about" link to the right of the site change log*/
	text-align: right;
	margin-top: -2.9%;
}

.float-right a {/*Make the pointer cursor appear when you hover over the link*/
	cursor: pointer;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  text-align: center;
}

.stream {
	text-align: center;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255,90,0,0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}